@model Violin.Store.Classes.Discography

@{
    ViewBag.Title = "移除 · 专辑";
}


<div>
	<h2>移除专辑</h2>
	<div>你确定要移除这条专辑吗?</div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoverImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoverImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnSaleTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnSaleTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncludedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncludedCount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
			<input type="submit" value="删除条目" class="btn btn-danger" />
			<a href="../" role="button" class="btn btn-default" style="margin-left: 10px;">返回列表</a>
        </div>
    }
</div>
