@model Violin.Store.Classes.News

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>确定要删除这条新闻吗?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.Raw(Model.Content)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-danger" />
			<a href="../" role="button" class="btn btn-default" style="margin-left: 10px;">返回列表</a>
        </div>
    }
</div>
