@model Violin.Store.Classes.IncludedTracks

@{
    ViewBag.Title = "Delete";
}

<div>
	<h2>移除曲目</h2>
	<div>你确定要删除这条曲目信息吗?</div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Discography.CoverImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discography.CoverImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LyricsBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LyricsBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Composer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Composer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arranger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arranger)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
			<input type="submit" value="删除条目" class="btn btn-danger" />
			<a href="../" role="button" class="btn btn-default" style="margin-left: 10px;">返回列表</a>
        </div>
    }
</div>
