@model Violin.Store.Classes.IncludedTracks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IncludedTracks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Discography.CoverImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discography.CoverImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LyricsBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LyricsBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Composer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Composer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arranger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arranger)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Track }) |
    @Html.ActionLink("Back to List", "Index")
</p>
