@using Violin.Store.Classes;

@model News

@{
	Layout = "~/Views/Shared/_LayoutHeaderSection.cshtml";
	ViewBag.Title = "新闻详情";
}

<div class="container">
	<div class="blocks news newsDetail">
		<div class="title">NEWS</div>
		<div class="items">
			<div class="itemContainer">
				<div class="newsContentBlock">
					<div class="newsTitleBlock">
						<div class="newsInfo dateTime">
							<div class="dateItem">
								<div class="date date-date">@Model.ReleaseTime.ToString("MM.dd")</div>
								<div class="date date-year">@Model.ReleaseTime.Year</div>
							</div>
							<div class="dateItem newsType type-media">@Model.Type.ToString().ToUpper()</div>
						</div>
						<div class="newsInfo newsTitle newsTitle-ContentTitle">@Model.Title</div>
					</div>
					<div class="newsContent">@Html.Raw(Model.Content)</div>
				</div>
			</div>
		</div>
		<div class="footerControls">
			<a class="footerItem control control-prev" href="@ViewBag.Prev">&lt; Prev</a>
			<a class="footerItem control control-list" href="/News">LIST</a>
			<a class="footerItem control control-next" href="@ViewBag.Next">Next &gt;</a>
		</div>
	</div>
</div>
