@model Violin.Store.Classes.UserAccount
@using Violin.Store.Tools;

@{
    ViewBag.Title = "详情 · 用户";
}


<div>
	<h2>账户详情</h2>
    <div>该账户的详细信息</div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Access)
        </dt>

        <dd>
			@Model.Access.GetDisplayName()
        </dd>

    </dl>
</div>
<p>
	<a href="../Edit/@Model.UserId" role="button" class="btn btn-primary">编辑条目</a>
	<a href="../" role="button" class="btn btn-default" style="margin-left: 10px;">返回列表</a>
</p>
