@using Violin.Store.Classes;


@{
	ViewBag.Title = "Index";
}


<div class="mainvisual"></div>
<div class="container">
	<div name="news" class="blocks news">
		<div class="title">NEWS</div>
		<div class="list">
			@foreach (News news in ViewBag.News)
			{
				<div class="newsDetails items">
					<a class="newsLink" href="/News/@news.NewsID">
						<div class="newsInfo dateTime">
							<div class="dateItem">
								<div class="date date-date">@news.ReleaseTime.ToString("MM.dd")</div>
								<div class="date date-year">@news.ReleaseTime.Year</div>
							</div>
							<div class="dateItem newsType type-media">@news.Type.ToString().ToUpper()</div>
						</div>
						<div class="newsInfo newsTitle">@news.Title</div>
					</a>
				</div>
			}
		</div>
	</div>
	<div name="schedule" class="blocks schedule">
		<div class="title">SCHEDULE</div>
		<div class="list">
            @{
                if (ViewBag.ScheduleTV.Count > 0)
                {
                    <div class="schedule-tv items">
                        <div class="scheduleType scheduleType-tv">TV</div>
                        @foreach (Schedule schedule in ViewBag.ScheduleTV)
                        {
                            <div class="scheduleDetails">
                                <div class="scheduleDateTime">@schedule.StartTime ~ @schedule.EndTime</div>
                                <div class="scheduleTitle">@schedule.BangumiName</div>
                                <div class="scheduleUrl">
                                    <span class="schedulePrefix">【番組HP】</span>
                                    <a class="scheduleLink" target="_blank" href="@schedule.BangumiUrl">@schedule.BangumiUrl</a>
                                </div>
                            </div>
                        }
                    </div>
                }

                if (ViewBag.ScheduleRadio.Count > 0)
                {
                    <div class="schedule-radio items">
                        <div class="scheduleType scheduleType-radio">RADIO</div>
                        @foreach (Schedule schedule in ViewBag.ScheduleRadio)
                        {
                            <div class="scheduleDetails">
                                <div class="scheduleTitle">@schedule.BangumiName</div>
                                <div class="scheduleUrl">
                                    <span class="schedulePrefix">【HP】</span>
                                    <a class="scheduleLink" target="_blank" href="@schedule.BangumiUrl">@schedule.BangumiUrl</a>
                                </div>
                            </div>
                        }
                    </div>
                }
            }
		</div>
	</div>
	<div name="discography" class="blocks discography">
		<div class="title">DISCOGRAPHY</div>
		<div class="list">
			@foreach (Discography disco in ViewBag.Discography)
			{
				<div class="items">
					<div class="discographyDetails">
						<div class="discoItem image">
							<img src="@disco.CoverImage">
						</div>
						<div class="discoItem info">
							<div class="infoItem subtitle discoSubtitle">@disco.Subtitle</div>
							<div class="infoItem title">@disco.Title</div>
							<div class="infoItem saleTime">@($"{disco.OnSaleTime.ToString("yyyy.MM.dd")} On Sale")</div>
							<div class="infoItem description">@Html.Raw(disco.Description)</div>
							<div class="infoItem productInfo">
								<div>产品编号：@disco.ProductNumber</div>
								<div>价格：@disco.Price.ToString("f2")</div>
								<div>收录数：@disco.IncludedCount 首</div>
							</div>
							<div class="infoItem includeTracks">
								<div class="includeTitle subtitle">收录曲目</div>
								<table style="width: 100%">
									@foreach (IncludedTracks tracks in disco.Tracks)
									{
										<tr>
											<td>@tracks.Track</td>
											<td>@tracks.Name</td>
											<td>作词：@tracks.LyricsBy</td>
											<td>作曲：@tracks.Composer</td>
											<td>编曲：@tracks.Arranger</td>
										</tr>
									}
								</table>
							</div>
							<div class="infoItem giveways">
								<div class="givewayTitle subtitle">DVD附赠礼品</div>
								<div class="givewayList">
									@foreach (Giveaway giveway in disco.Giveaway)
									{
										<div class="givewayItem">@giveway.Name</div>
									}
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
	<div name="goods" class="blocks goods">

	</div>
	<div name="profile" class="blocks profile">
		<div class="title">PROFILE</div>
		<div class="items">
			<div class="profileItem photo">
				<img src="~/Content/img/profile_photo.jpg" />
			</div>
			<div class="profileItem profileDetails">
				<div class="info">
					<div class="infoItem name">
						<div class="normal">山本彩</div>
						<div class="english">Sayaka Yamamoto</div>
					</div>
					<table class="infoItem detailInfo">
						<tr>
							<td>生年月日：</td>
							<td>1993年7月14日</td>
						</tr>
						<tr>
							<td>血液型：</td>
							<td>B</td>
						</tr>
						<tr>
							<td>身長：</td>
							<td>155.5㎝</td>
						</tr>
						<tr>
							<td>出身地：</td>
							<td>大阪府</td>
						</tr>
						<tr>
							<td>特技：</td>
							<td>ギター・ダンス・熱中すること</td>
						</tr>
						<tr>
							<td>趣味：</td>
							<td>歴史探索・学ぶこと・知ること・音楽・映画鑑賞</td>
						</tr>
					</table>
				</div>
				<div class="infoItem description">
					女性アイドルグループNMB48所属、キャプテンを務める。AKB48選抜メンバーとしても活躍中。
					NHK連続テレビ小説『あさが来た』主題歌、AKB48「365日の紙飛行機」のセンターポジションを務め注目を集める。
					<br />
					第67回NHK紅白歌合戦にて番組企画として実施された「夢の紅白選抜」の順位発表が行われ第1位となる。
					<br />
					2016年には自作の楽曲を含むデビューアルバム「Rainbow」をリリースし、ソロライブツアーも成功を収めるなど、今後もマルチな活躍が期待される。
				</div>
			</div>
		</div>
	</div>
</div>