@using Violin.Store.Classes;


@{
	ViewBag.Title = "Index";
}


<div class="mainvisual"></div>
<div class="container">
	<div name="news" class="blocks news">
		<div class="title">NEWS</div>
		<div class="list">
			@foreach (News news in ViewBag.News)
			{
				<div class="newsDetails items">
					<a class="newsLink" href="/News/@news.NewsID">
						<div class="newsInfo dateTime">
							<div class="dateItem">
								<div class="date date-date">@news.ReleaseTime.ToString("MM.dd")</div>
								<div class="date date-year">@news.ReleaseTime.Year</div>
							</div>
							<div class="dateItem newsType type-media">@news.Type.ToString().ToUpper()</div>
						</div>
						<div class="newsInfo newsTitle">@news.Title</div>
					</a>
				</div>
			}
		</div>
	</div>
	<div name="schedule" class="blocks schedule">
		<div class="title">SCHEDULE</div>
		<div class="list">
			<div class="schedule-tv items">
				<div class="scheduleType scheduleType-tv">TV</div>
				<div class="scheduleDetails">
					<div class="scheduleDateTime">11月5日(土)23:15～23:44</div>
					<div class="scheduleTitle">NHK-BSプレミアム「AKB48 SHOW!」※『レインボーローズ』歌唱</div>
					<div class="scheduleUrl">
						<span class="schedulePrefix">【番組HP】</span>
						<a class="scheduleLink" href="http://www.nhk.or.jp/akb48show/index.html" target="_blank">http://www.nhk.or.jp/akb48show/index.html</a>
					</div>
				</div>
				<div class="scheduleDetails">
					<div class="scheduleDateTime">11月4日(金)　23：30～23:58</div>
					<div class="scheduleTitle">フジテレビ「Love music」※『雪恋』歌唱</div>
					<div class="scheduleUrl">
						<span class="schedulePrefix">【番組HP】</span>
						<a href="http://www.fujitv.co.jp/lovemusic/backnumber/index.html" class="scheduleLink">http://www.fujitv.co.jp/lovemusic/backnumber/index.html</a>
					</div>
				</div>
				<div class="scheduleDetails">
					<div class="scheduleDateTime">10月31日(月)19:00～22:54</div>
					<div class="scheduleTitle">TBS「ハロウィン音楽祭2016」※『雪恋』歌唱</div>
					<div class="scheduleUrl">
						<span class="schedulePrefix">【番組HP】</span>
						<a href="http://www.tbs.co.jp/halloween_fes/" class="scheduleLink">http://www.tbs.co.jp/halloween_fes/</a>
					</div>
				</div>
				@*
					@foreach (Schedule schedule in ViewBag.ScheduleTV)
					{
						<div class="scheduleDetails">
							<div class="scheduleDateTime">@schedule.DateTime</div>
							<div class="scheduleTitle">@schedule.BangumiName</div>
							<div class="scheduleUrl">
								<span class="schedulePrefix">【番組HP】</span>
								<a class="scheduleLink" target="_blank" href="@schedule.BangumiUrl">@schedule.BangumiUrl</a>
							</div>
						</div>
					}
				*@
			</div>
			<div class="schedule-radio items">
				<div class="scheduleType scheduleType-radio">RADIO</div>
				<div class="scheduleDetails">
					<div class="scheduleTitle">FM大阪　11月度 E∞Tracks</div>
					<div class="scheduleUrl">
						<span class="schedulePrefix">【HP】</span>
						<a href="http://www.fmosaka.net/" class="scheduleLink">http://www.fmosaka.net/</a>
					</div>
				</div>
				<div class="scheduleDetails">
					<div class="scheduleTitle">FM新潟　11月度パワープレイ</div>
					<div class="scheduleUrl">
						<span class="schedulePrefix">【HP】</span>
						<a href="https://www.fmniigata.com/" class="scheduleLink">https://www.fmniigata.com/</a>
					</div>
				</div>
				@*
	@foreach (Schedule schedule in ViewBag.ScheduleRadio)
	{
		<div class="scheduleDetails">
			<div class="scheduleTitle">@schedule.BangumiName</div>
			<div class="scheduleUrl">
				<span class="schedulePrefix">【HP】</span>
				<a class="scheduleLink" target="_blank" href="@schedule.BangumiUrl">@schedule.BangumiUrl</a>
			</div>
		</div>
	}
				*@
			</div>
		</div>
	</div>
	<div name="discography" class="blocks discography">

	</div>

	<div name="goods" class="blocks goods">

	</div>

	<div name="profile" class="blocks profile">
		<div class="title">PROFILE</div>
		<div class="items">
			<div class="profileItem photo">
				<img src="~/Content/img/profile_photo.jpg" />
			</div>
			<div class="profileItem profileDetails">
				<div class="info">
					<div class="infoItem name">
						<div class="normal">山本彩</div>
						<div class="english">Sayaka Yamamoto</div>
					</div>
					<table class="infoItem detailInfo">
						<tr>
							<td>生年月日：</td>
							<td>1993年7月14日</td>
						</tr>
						<tr>
							<td>血液型：</td>
							<td>B</td>
						</tr>
						<tr>
							<td>身長：</td>
							<td>155.5㎝</td>
						</tr>
						<tr>
							<td>出身地：</td>
							<td>大阪府</td>
						</tr>
						<tr>
							<td>特技：</td>
							<td>ギター・ダンス・熱中すること</td>
						</tr>
						<tr>
							<td>趣味：</td>
							<td>歴史探索・学ぶこと・知ること・音楽・映画鑑賞</td>
						</tr>
					</table>
				</div>
				<div class="infoItem description">
					女性アイドルグループNMB48所属、キャプテンを務める。AKB48選抜メンバーとしても活躍中。
					NHK連続テレビ小説『あさが来た』主題歌、AKB48「365日の紙飛行機」のセンターポジションを務め注目を集める。
					<br />
					第67回NHK紅白歌合戦にて番組企画として実施された「夢の紅白選抜」の順位発表が行われ第1位となる。
					<br />
					2016年には自作の楽曲を含むデビューアルバム「Rainbow」をリリースし、ソロライブツアーも成功を収めるなど、今後もマルチな活躍が期待される。
				</div>
			</div>
		</div>
	</div>
</div>