@using Violin.Store.Classes;
@model IEnumerable<ShoppingCart>

@{
	ViewBag.Title = "收银台";
	Layout = "~/Views/Shared/_LayoutHeaderSection.cshtml";
}

<link href="~/Content/ickeck/skins/all.css" rel="stylesheet" />
<link href="~/Content/ickeck/skins/flat/aero.css" rel="stylesheet" />
<script src="~/Content/ickeck/icheck.js"></script>

<div class="container">
	<div class="subBlocks">
		<div class="blockTitle">Checkout</div>
		<div class="blockBody">
			@foreach (var item in Model)
			{
				var productInfo = item.ProductInfo;

				<div class="blockItems">
					<div class="selectBox">
						<input type="checkbox" class="selectItem" name="selectItem" data-cart="@item.CartId" data-price="@(productInfo.Goods.Price * productInfo.Quantity)" />
					</div>
					<div class="items itemPreview">
						<img class="previewImage" src="~/Content/img/@productInfo.Goods.ImageUrl" />
					</div>
					<div class="itemDetails">
						<div class="items itemTitle">
							@productInfo.Goods.Name
						</div>
						<div class="items itemDescription">
							@productInfo.Goods.Note
						</div>
						<div class="items itemPrices">
							<span>¥</span>
							<span class="amount">@productInfo.Goods.Price</span>
							<small>
								<span>x</span>
								<span>@productInfo.Quantity</span>
							</small>
						</div>
					</div>
					<div class="itemControl">
						<button type="button" class="buttonRemove" data-cart="@item.CartId" onclick="RemoveItem(this)">
							<i class="fa fa-trash-o" aria-hidden="true"></i>
							<span class="buttonText">移除</span>
						</button>
					</div>
				</div>
			}

			<!--
			<div class="blockItems">
				<div class="selectBox">
					<input type="checkbox" class="selectItem" name="selectItem" />
				</div>
				<div class="items itemPreview">
					<img class="previewImage" src="~/Content/img/goods001.jpg" />
				</div>
				<div class="itemDetails">
					<div class="items itemTitle">
						aaaaaaaaa
					</div>
					<div class="items itemDescription">
						description message in this block
					</div>
					<div class="items itemPrices">
						<span>¥</span>
						<span class="amount">9999</span>
						<small>
							<span>x</span>
							<span>1</span>
						</small>
					</div>
				</div>
				<div class="itemControl">
					<button type="button" class="buttonRemove">
						<i class="fa fa-trash-o" aria-hidden="true"></i>
						<span class="buttonText">移除</span>
					</button>
				</div>
			</div>
			<div class="blockItems">
				<div class="selectBox">
					<input type="checkbox" class="selectItem" name="selectItem" />
				</div>
				<div class="items itemPreview">
					<img class="previewImage" src="~/Content/img/goods001.jpg" />
				</div>
				<div class="itemDetails">
					<div class="items itemTitle">
						aaaaaaaaa
					</div>
					<div class="items itemDescription">
						description message in this block
					</div>
					<div class="items itemPrices">
						<span>¥</span>
						<span class="amount">9999</span>
					</div>
				</div>
				<div class="itemControl">
					<button type="button" class="buttonRemove">
						<i class="fa fa-trash-o" aria-hidden="true"></i>
						<span class="buttonText">移除</span>
					</button>
				</div>
			</div>
			-->
		</div>

		@{
			var totalPrice = Model.Sum(i => i.ProductInfo.Goods.Price * i.ProductInfo.Quantity);
			var user = ViewBag.User as UserAccount;
		}

		<div class="blockFooter">
			<button type="button" class="buttonRemove buttonPayment" onclick="Payment()">
				<i class="fa fa-shopping-cart" aria-hidden="true"></i>
				<span class="buttonText">Payment</span>
			</button>
			<div class="paymentPreview">
				<table>
					<tr>
						<td class="previewHeader">总计花费:</td>
						<td class="previewAmount">
							<span>¥</span>
							<span class="totalCash">@totalPrice.ToString("f2")</span>
						</td>
					</tr>
					<tr>
						<td class="previewHeader">扣除后剩余:</td>
						<td class="previewAmount">
							<span>¥</span>
							<span class="userCash" data-cash="@user.Cash">@((user.Cash - totalPrice).ToString("f2"))</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('input').iCheck({
			checkboxClass: 'icheckbox_flat',
			radioClass: 'iradio_flat'
		})
		.on('ifChanged', function (event) {
			var list = $(".selectItem:checked");
			var price = 0.0;

			for (var i = 0; i < list.length; i++) {
				price += parseFloat($(list[i]).attr("data-price"));
			}

			$(".totalCash").text(price.toFixed(2));
			var userCash = $(".userCash");
			userCash.text((userCash.attr("data-cash") - price).toFixed(2));
		});
	});

	function RemoveItem(dom) {
		var target = $(dom);
		var cartId = target.attr("data-cart");

		$.post("RemoveFormCheckout", { id: cartId }, function (data) {
			if (!data.result) {
				alert(data.msg);
				return;
			}

			target.parent().parent().remove();
		}, "json");
	}

	function Payment() {
		var checkedItem = $(".selectItem:checked");

		if (checkedItem.length == 0) {
			alert("请选择需要进行支付的商品。");
			return;
		}

		var cartId = [];
		for (var i = 0; i < checkedItem.length; i++) {
			var item = checkedItem[i];

			cartId.push($(item).attr("data-cart"));
		}

		$.post("Payment", { id: cartId }, function (data) {
			if (!data.result) {
				alert(data.msg);
				return;
			}

			window.location = "/Store/Orders";
		}, "json");
	}
</script>