@using Violin.Store.Classes;
@model Goods

@{
	Layout = "~/Views/Shared/_LayoutHeaderSection.cshtml";
	ViewBag.Title = "Detail";
}

<style>
	.buyButton:hover {
		cursor: pointer;
	}
</style>

<div class="container">
	<div class="productInfo">
		<div class="baseProductInfo">
			<div class="detailPreview">
				<img src="~/Content/img/@Model.ImageUrl" />
			</div>
			<div class="description">
				<div class="detailTitle">@Model.Name</div>
				<div class="detailPrice">
					<span>¥</span>@Model.Price
				</div>
				<div class="detailNotes">
					@Html.Raw(Model.Note)
				</div>
				<div class="buyControl">
					<div class="buyNumber controlItem">
						<input id="qty" type="number" min="1" max="99" name="buyNum" value="1" />
					</div>
					<div class="buyBuyButton controlItem">
						<button class="buyButton" type="button" onclick="BuyAction(@Model.ProductId)">Buy</button>
					</div>
				</div>
				<form id="jumpAction" action="../Checkout" method="post">
					<input id="_postId" type="hidden" name="id" value="" />
					<input id="_postQty" type="hidden" name="qty" value="" />
				</form>
			</div>
		</div>
		<div class="buyProductDescription">
			<div class="descriptionTitle">商品描述</div>
			<div class="descriptionContent">
				@Model.Note
			</div>
		</div>
	</div>
</div>
<script>
	function BuyAction(productId) {
		var domQty = $("#qty");
		var qty = domQty.val();

		var max = domQty.attr("max"),
			min = domQty.attr("min");

		if(qty > max)
			qty = max;
		else if(qty < min)
			qty = min;

		var form = $("#jumpAction");
		form.find("#_postId").val(productId);
		form.find("#_postQty").val(qty);
		form.submit();
	}
</script>