@using Violin.Store.Classes;
@using Violin.Store.Tools;

@model IEnumerable<Orders>

@{
    ViewBag.Title = "主页 · 订单";
}

<h2>订单列表</h2>

<p>
    	@Html.ActionLink("添加条目", "", null, new { role = "button", @class = "btn btn-primary", disabled = "disabled" })
		<a href="/" role="button" class="btn btn-info" style="margin-left: 10px;">返回主页</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        <td>
			@item.State.GetDisplayName()
        </td>
        <td>
			@Html.ActionLink("编辑", "Edit", new { id = item.OrderID }) |
			@Html.ActionLink("删除", "Delete", new { id = item.OrderID }, new { role = "button", @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
